<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta - OG -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="도미노피자">
    <meta property="og:image" content="./images/ogimage.png">
    <meta property="og:image:width" content="270">
    <meta property="og:image:height" content="270">
    <meta property="og:title" content="도미노피자 - 당신의 인생에 완벽한 한끼! Life Food, Domino's">
    <meta property="og:description" content="당신의 인생에 완벽한 한끼! Life Food, Domino's">
    <title>도미노피자</title>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/index.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
    <!-- VueCDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- JQuery & BxSlider -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <!-- Slick -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- FontAwesome & XEicon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>
<body>
    <a href="#mainSectionOrder" class="skip">메인영역 바로가기</a>
    <a href="#footer" class="skip">사이트 정보 바로가기</a>
    <div class="responsiveAlert">
        <div>
            <span class="xi-emoticon-sad-o"></span>
            <p>
                화면폭이 너무 좁아요<br/>
                브라우저의 사이즈를 더 늘여주세요<br/>
            </p>
        </div>
    </div>
    <header id="header" class="header">
        <div class="headerTop">
            <div class="headerTopWrap">
                <h1><a href="javascript:;"><img src="./images/header_logo.png" alt="도미노피자 로고"></a></h1>
                <div class="headerTopWrapSearch">
                    <a href="javascript:;">주변매장의 프로모션을 확인해보세요!</a>
                </div>
                <ul class="headerTopWrapService">
                    <li><a href="javascript:;">회원가입</a></li>
                    <li><a href="javascript:;">로그인</a></li>
                    <li><a href="javascript:;">ENGLISH</a></li>
                </ul>
            </div>
        </div>
        <div class="headerMiddle">
            <div class="headerMiddlewrap">
                <h2><a href="#header" class="headerMiddlewrapBtn"><img src="./images/hm_logo.png" alt="상단페이지 바로가기 도미노 로고"></a></h2>
            </div>
        </div>
        <div class="headerBottom">
            <div class="headerBottomWrap">
                <h2 class="hide">메인메뉴 입니다.</h2>
                <nav>
                    <ul>
                        <li>
                            <a href="javascript:;"><span>메뉴</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span>E-쿠폰</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span>상품권 선물</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span>이벤트·제휴</span></a>
                        </li>
                        <li>
                            <a href="javascript:;"><span>매장검색</span></a>
                        </li>
                    </ul>
                </nav>
                <div class="headerBottomWrapOrder">
                    <a href="javascript:;" class="order">가맹점 모집</a>
                    <button class="wholeBtn">전체메뉴</button>
                </div>
            </div>
            <div class="headerWholeMenu">
                <div class="headerWholeMenuWrap">
                    <h2 class="hide">전체메뉴의 목록입니다</h2>
                    <div class="headerWholeMenuWrapLeft">
                        <div>
                            <a href="javascript:;" class="title">도미노 서비스</a>
                            <a href="javascript:;" class="item"><span>매니아 혜택</span></a>
                            <a href="javascript:;" class="item"><span>도미노 모멘트</span></a>
                            <a href="javascript:;" class="item"><span>퀵 오더</span></a>
                            <a href="javascript:;" class="item"><span>단체주문서비스</span></a>
                        </div>
                        <div>
                            <a href="javascript:;" class="title">고객센터</a>
                            <a href="javascript:;" class="item"><span>자주하는 질문</span></a>
                            <a href="javascript:;" class="item"><span>온라인 신문고</span></a>
                        </div>
                        <div>
                            <a href="javascript:;" class="title">회사소개</a>
                            <a href="javascript:;" class="item"><span>한국도미노피자</span></a>
                            <a href="javascript:;" class="item"><span>광고갤러리</span></a>
                            <a href="javascript:;" class="item"><span>사회공헌활동</span></a>
                            <a href="javascript:;" class="item"><span>가맹점 모집</span></a>
                            <a href="javascript:;" class="item"><span>인재채용</span></a>
                        </div>
                    </div>
                    <div class="headerWholeMenuWrapRight">
                        <div>
                            <a href="javascript:;" class="title">공지사항</a>
                            <a href="javascript:;" class="item"><span>도미노뉴스</span></a>
                            <a href="javascript:;" class="item"><span>보도자료</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="visual">
        <h2 class="hide">메인 슬라이드 영역입니다.</h2>
        <div class="visual">
            <div>
                <a href="javascript:;"><img src="./images/mainBanner.jpg" alt="모든 피자와 함께 주문시 사이드디시 & 라이스볼 반값 안내"></a>
            </div>
            <div>
                <a href="javascript:;"><img src="./images/mainBanner2.jpg" alt="도미노와 함께 에코 프렌들리 Zero-waste 실천하기"></a>
            </div>
            <div>
                <a href="javascript:;"><img src="./images/mainBanner3.png" alt="KT 달달 혜택 방문 50프로 할인"></a>
            </div>
            <div>
                <a href="javascript:;"><img src="./images/mainBanner4.jpg" alt="도미노 사이드 콤보 특가 & 콤보 밀 출시"></a>
            </div>
        </div>
        <div class="btns">
            <button class="stop xi-pause"></button>
        </div>
    </div>
    <main id="main" class="main">
        <section id="mainSectionOrder" class="mainOrderWrap">
            <h2 class="hide">여러가지 주문안내 메뉴입니다.</h2>
            <div class="mainOrderWrapList">
                <div class="mainOrderWrapListFirst">
                    <a href="javascript:;">
                        <img src="./images/order_left.png" alt="배달주문 오토바이 로고">
                        <p>배달주문</p>
                        <span>등급별 최대 30%</span>
                    </a>
                </div>
                <div class="mainOrderWrapListSecond">
                    <a href="javascript:;">
                        <img src="./images/order_right.png" alt="포장주문 안내 로고">
                        <p>포장주문</p>
                        <span>등급별 최대 40%</span>
                    </a>
                </div>
                <div class="mainOrderWrapListThird">
                    <a href="javascript:;">
                        <img src="./images/ico-quick3.png" alt="퀵오더주문 로고">
                        <p>퀵오더</p>
                        <span>자주 이용하는 메뉴를</span>
                        <span>더 빠르게 주문해보세요!</span>
                    </a>
                </div>
            </div>
        </section>
        <section id="mainSectionProduct" class="mainProductsWrap">
            <div class="mainProductsWrapContainer">
                <h2 class="subTitle">
                    <span>MENU</span>
                </h2>
                <ul class="mainProductVisual">
                    <li>
                        <a href="javascript:;">
                            <em>
                                <img src="./images/c_bacon.jpg" alt="베이컨 피자 이미지">
                            </em>
                            <div class="textWrap">
                                <h3>베이컨체더치즈</h3>
                                <div>
                                    <p>L<span>27,900원~</span></p>
                                    <p>M<span>20,500원~</span></p>
                                </div>
                                <p>#베이컨 매니아들의 원 픽</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <em>
                                <img src="./images/c_bulgogi.jpg" alt="불고기 피자 이미지">
                            </em>
                            <div class="textWrap">
                                <h3>리얼불고기</h3>
                                <div>
                                    <p>L<span>29,900원~</span></p>
                                    <p>M<span>22,500원~</span></p>
                                </div>
                                <p>#프리미엄 불고기 토핑이 듬뿍</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <em>
                                <img src="./images/c_goguma.jpg" alt="우리고구마 피자 이미지">
                            </em>
                            <div class="textWrap">
                                <h3>우리 고구마</h3>
                                <div>
                                    <p>L<span>30,900원~</span></p>
                                    <p>M<span>23,500원~</span></p>
                                </div>
                                <p>#고구마 큐브&무스가 듬뿍!</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <em>
                                <img src="./images/c_potato.jpg" alt="포테이토 피자 이미지">
                            </em>
                            <div class="textWrap">
                                <h3>포테이토</h3>
                                <div>
                                    <p>L<span>27,900원~</span></p>
                                    <p>M<span>20,500원~</span></p>
                                </div>
                                <p>#도미노피자 No.1 레전드</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <em>
                                <img src="./images/c_shirimp.jpg" alt="슈퍼슈프림">
                            </em>
                            <div class="textWrap">
                                <h3>슈퍼슈프림</h3>
                                <div>
                                    <p>L<span>27,900원~</span></p>
                                    <p>M<span>20,500원~</span></p>
                                </div>
                                <p>#콘과 파인애플의 달콤한 조화</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <em>
                                <img src="./images/p_best.jpg" alt="베스트 콰트로 이미지">
                            </em>
                            <div class="textWrap">
                                <h3>베스트 콰트로</h3>
                                <div>
                                    <p>L<span>36,900원~</span></p>
                                    <p>M<span>29,500원~</span></p>
                                </div>
                                <p>#4가지 피자를 한판에</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <em>
                                <img src="./images/c_peper.jpg" alt="페퍼로니 피자 이미지">
                            </em>
                            <div class="textWrap">
                                <h3>페퍼로니</h3>
                                <div>
                                    <p>L<span>25,900원~</span></p>
                                    <p>M<span>18,500원~</span></p>
                                </div>
                                <p>#짭짤한 풍미가 일품</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <em>
                                <img src="./images/p_black.jpg" alt="블랙앵거스 피자 이미지">
                            </em>
                            <div class="textWrap">
                                <h3>블랙앵거스 스테이크</h3>
                                <div>
                                    <p>L<span>35,900원~</span></p>
                                    <p>M<span>29,500원~</span></p>
                                </div>
                                <p>#블랙앵거스 비프에 랍스터볼까지</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section id="mainSectionEvent" class="mainEventWrap">
            <h2 class="hide">이벤트 안내 영역입니다. 로그인 하시면 더 많은 정보를 확인할 수 있습니다.</h2>
            <div class="mainEventWrapTop">
                <div class="mainEventWrapTopLeft">
                    <p>도미노피자의</p>
                    <p>특별한 매니아 혜택</p>
                    <p>누려보세요!</p>
                    <a href="javascript:;">로그인</a>
                </div>
                <div class="mainEventWrapTopRight">
                    <ul>
                        <li v-for="(item, index) in eventArray">
                            <a href="javascript:;" :key="index"><img :src="item.src" :alt="item.alt"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="mainPromotion">
            <div class="mainPromotionWrap">
                <h2 class="subTitle">
                    <span>PROMOTION</span>
                </h2>
                <ul>
                    <li>
                        <a href="javascript:;">
                            <em><img src="./images/info_1.png" alt="주문부터 결제까지 QUICK하게"></em>
                            <div>
                                <p>주문부터 결제까지 QUICK하게</p>
                                <span>나만의 메뉴를 빠르게 주문하세요</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <em><img src="./images/info_2.png" alt="단체 주문 서비스"></em>
                            <div>
                                <p>단체 주문 서비스</p>
                                <span>30판 이상 주문도 간편하게</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <em><img src="./images/info_3.png" alt="도미노 드라이빙 픽업 서비스"></em>
                            <div>
                                <p>도미노 드라이빙 픽업 서비스</p>
                                <span>모바일로 주문하고 차에서 편하게 받자</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <em><img src="./images/info_4.png" alt="도미노 피자와 함께하실 가맹점주님들을 모십니다."></em>
                            <div>
                                <p>가맹점 모집</p>
                                <span>도미노 피자와 함께하실 <br/>가맹점주님들을 모십니다.</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer id="footer" class="footer">
        <div class="goUpBtnWrap" :class="state">
            <h2 class="hide">상단으로 바로가기</h2>
            <button class="goupbtn" @click="onClickUp">TOP</button>           
        </div>
        <div class="fixedBanner" v-if="close">
            <div>
                <a href="javascript:;"><img src="./images/banner-floating_200827.png" alt="30년 노하우로 안심까지"></a>
                <button @click="onClickClose"><i class="fas fa-times"></i></button>
            </div>
        </div>
        <div class="footerWrap">
            <div class="footerWrapTop">
                <ul>
                    <li><a href="javascript:;">개인정보처리방침</a></li>
                    <li><a href="javascript:;">이용약관</a></li>
                    <li><a href="javascript:;">위치기반서비스</a></li>
                    <li><a href="javascript:;">청소년보호방침</a></li>
                    <li><a href="javascript:;">고객센터</a></li>
                    <li><a href="javascript:;">인재채용</a></li>
                    <li><a href="javascript:;">가맹점모집</a></li>
                    <li><a href="javascript:;">단체주문</a></li>
                </ul>
            </div>
            <div class="footerWrapBottom">
                <div class="footerWrapBottomInfo">
                    <div class="footerWrapBottomInfoLink">
                        <h3>전화주문 <span>1577-3082</span></h3>
                        <ul>
                            <li>
                                <a href="javascript:;"><img src="./images/facebook.png" alt="페이스북 로고 아이콘"></a>
                            </li>
                            <li>
                                <a href="javascript:;"><img src="./images/twiiter.png" alt="트위터 로고 아이콘"></a>
                            </li>
                            <li>
                                <a href="javascript:;"><img src="./images/blog.png" alt="네이버 블로그 로고 아이콘"></a>
                            </li>
                            <li>
                                <a href="javascript:;"><img src="./images/insta.png" alt="인스타그램 로고 아이콘"></a>
                            </li>
                        </ul>
                        <div>
                            <span>DOWNLOAD APP</span>
                            <a href="javascript:;"><img src="./images/apple.png" alt="애플 ios 스토어 링크 이미지"></a>
                            <a href="javascript:;"><img src="./images/android.png" alt="안드로이드 스토어 링크 이미지"></a>
                        </div>
                    </div>
                    <div class="footerWrapBottomInfoText">
                        <ul>
                            <li><span>06223 서울특별시 강남구 역삼로25길 35(역삼동, 청오큐브타워) 청오디피케이㈜</span></span></li>
                            <li><span>대표이사 : 오광현 , 김영헌</span></li>
                        </ul>
                        <ul>
                            <li><span>사업자 등록번호: 220-81-03371</span></li>
                            <li><span>통신판매업신고: 강남 5064호</span></li>
                            <li><span>개인정보 보호책임자 : 이명윤</span></li>
                        </ul>
                        <p>문의 : webmaster@dominos.co.kr</p>
                        <address>Copyright ⓒ Domino’s Pizza. All rights reserved.</address>
                    </div>
                    <h2><a href="#header"><img src="./images/footerLogo.png" alt="도미노피자 로고"></a></h2>
                </div>
            </div>
        </div>
    </footer>
    <script src="./js/dominoAlert.js"></script>
    <script src="./js/dominoHeader.js"></script>
    <script src="./js/dominoVisual.js"></script>
    <script src="./js/dominoEvent.js"></script>
    <script src="./js/dominoProducts.js"></script>
    <script src="./js/dominoFooter.js"></script>
</body>
</html>